- provide(:title, t('.title'))
=render "layouts/subbar_top"
.filter-top
  =image_tag("gkcc.gif",:width=>"100%")
  .school
    .course-all
      %a{:href=>"http://item.taobao.com/item.htm?id=45435882440"}
        .course-list
          =image_tag("primary_school_card.jpg")
        .name-price
          .course-name
            小学全科七天体验卡
          .course-price
            ￥120.00元
    .course-all
      %a{:href=>"http://item.taobao.com/item.htm?id=45482853215"}
        .course-list
          =image_tag("middle_school_card.jpg")
        .name-price
          .course-name
            中学全科七天体验卡
          .course-price
            ￥140.00元
    .course-all
      %a{:href=>"http://item.taobao.com/item.htm?id=45435726727"}
        .course-list
          =image_tag("senior_school_card.jpg")
        .name-price
          .course-name
            高中全科七天体验卡
          .course-price
            ￥180.00元
    .course-all
      %a{:href=>"http://item.taobao.com/item.htm?id=45404765723"}
        .course-list
          =image_tag("primary_school.jpg")
        .name-price
          .course-name
            小学全科整年年卡
          .course-price
            ￥2800.00元
    .course-all
      %a{:href=>"http://item.taobao.com/item.htm?id=45329211076"}
        .course-list
          =image_tag("middle_school.jpg")
        .name-price
          .course-name
            中学全科整年年卡
          .course-price
            ￥3300.00元
    .course-all
      %a{:href=>" http://item.taobao.com/item.htm?id=45403401712"}
        .course-list
          =image_tag("senior_school.jpg")
        .name-price
          .course-name
            高中全科整年年卡
          .course-price
            ￥3600.00元
