<style type="text/CSS">
  .simple_captcha{border: 0px; padding: 5px !important;}
  .simple_captcha,
  .simple_captcha div{}
  .simple_captcha .simple_captcha_field{
    border: 0px;
    margin: 0px 0px 2px 0px !important;
    padding: 2px !important;
  }
  .simple_captcha .simple_captcha_image{
    padding-left:60px;

  }
  .simple_captcha .simple_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    height:50px;
    width: 110px !important;
    border:1px solid white;
    background:white;
  }
  .simple_captcha .simple_captcha_label{font-size: 12px;}
  .simple_captcha .simple_captcha_field input{
    width: 100% !important;
    font-size: 23px;
    border: 1px solid #dfdfdf;
    background-color: white;
    padding:5px;
  }
</style>

<div class='simple_captcha'>
  <div class='simple_captcha_image'>
    <%= simple_captcha_options[:image] %>
  </div>
  
  <div class='simple_captcha_field'>
    <%= simple_captcha_options[:field] %>
  </div>
</div>
