<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("01.jpg", :width=>"100%", :alt => "最美家教") %>
    </div>
    <div class="item">
      <%= image_tag("02.jpg", :width=>"100%", :alt => "预约试讲") %>
    </div>
    <div class="item">
      <%= image_tag("03.jpg", :width=>"100%", :alt => "身份认证") %>
    </div>
  </div>

</div>
