= form_for @teacher, :url=>teacher_session_path, :html=>{:class=>"form-horizontal"} do |f|
  /= devise_error_messages!
  .inputs
    .input-group
      .input-group-addon{:class => "left_bc"}
        %span{:class=>"glyphicon glyphicon-phone"}
      = f.text_field :phone, autofocus: true, :class=>"login-controls txt_left", :placeholder => "请输入手机号"
  .inputs
    .input-group
      .input-group-addon{:class => "left_bc"}
        %span{:class=>"glyphicon glyphicon-lock"}
      = f.password_field :password, autocomplete: "off", :class=>"login-controls txt-left", :placeholder => "请输入密码"

  .input_div
    = f.submit "登录", :class=>"btn btn-lg btn-block btn_back"

