- provide(:title, t('.title'))

=render "layouts/header"
- @courses.each_slice(3) do |slice|
  - slice.each do |course|
    .qa-message-list#wallmessages
      .message-item#m16
        .message-inner
          .message-head.clearfix
            %h5 
              = link_to course.name,course_path(course)
          .qa-message-content
            %p
              发布时间:
              =course.updated_at.strftime("%Y-%m-%d %H:%M:%S")
            %p
              授课时长: 
              ="#{course.length} 小时"
            %p
              试讲费用:
            = link_to '删除',course,:method=>:delete,:data=>{:confirm=>"确认删除课程吗？"},:class=>"btn btn-danger"
            = link_to '修改',edit_course_path(course),:class => "btn btn-info"





