%div#footer-div
  %div.wrapper
    %div.footer-service
      .footer-service-title
        客服电话：
      .footer-service-content
        13664320122
    %div.footer-intro
      %div.footer-intro-head
        %span.footer-intro-title
          家教呢
        %span.footer-intro-substitle
          家教预约平台
      %p.footer-desc 
        家教呢-家教预约平台是国内领先的互联网教育平台。为了学习更有效、为了教育更灵活、更亲切，我们致力于本地化家教教育。在这个平台上，老师和学生可以免费发布信息、随时沟通、灵活教学、便捷支付。学生无论是为了应对升学，攻克难题，还是练口语，学钢琴，找教练，我们都能提供强大的知识和经验支持。
      %p.footer-desc
        %br
        Copyright © 2014 - 2015 家教呢版权所有 jiajiaone.com
        = link_to "吉ICP备14003739号-2", "http://www.miibeian.gov.cn/", { :target => "_blank" }
        <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F82445d85fc131ec4d306d7d2089b8471' type='text/javascript'%3E%3C/script%3E"));
        </script>
    %div.footer-about
      %i
      %ul.footer-list
        %li
          %a
            活动公告
        %li
          %a
            常见问题
        %li
          %a
            服务协议
        %li
          %a
            隐私声明
        %li
          %a
            商务合作
    %div.footer-contact
      %i
      %ul.footer-list
        %li
          %a
            意见反馈
        %li
          %a
            官方微信
        %li
          %a
            新浪微博
        %li
          %a
            关于我们
        %li
          %a
            联系我们

