%div#p_header
  %div.p_wrapper
    %div.p_logo
      %a{:href => root_path}
        =image_tag('logo.png',:class => "header-logo-img2",:alt=>"家教呢")
    = image_tag("photo.jpg",class:"p_title_img")
    %div.p_title
      个人主页
